In [1]:
from glob import glob #Directorios
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from textblob import TextBlob 
from nltk.stem import PorterStemmer
import re

In [2]:
jsons = sorted(glob('*.json'))

In [3]:
df = pd.concat((pd.read_json(file) for file in jsons),ignore_index=True)

In [4]:
df.head()

,title,body,date,topics,places,id,organisations
0,BAHIA COCOA REVIEW,Showers continued throughout the week in\nthe ...,1987-02-26 15:01:01.790000,[cocoa],"[el-salvador, usa, uruguay]",1,NaN
1,STANDARD OIL <SRD> TO FORM FINANCIAL UNIT,Standard Oil Co and BP North America\nInc said...,1987-02-26 15:02:20,NaN,[usa],2,NaN
2,TEXAS COMMERCE BANCSHARES <TCB> FILES PLAN,Texas Commerce Bancshares Inc's Texas\nCommerc...,1987-02-26 15:03:27.510000,NaN,[usa],3,NaN
3,TALKING POINT/BANKAMERICA <BAC> EQUITY OFFER,BankAmerica Corp is not under\npressure to act...,1987-02-26 15:07:13.720000,NaN,"[usa, brazil]",4,NaN
4,NATIONAL AVERAGE PRICES FOR FARMER-OWNED RESERVE,The U.S. Agriculture Department\nreported the ...,1987-02-26 15:10:44.600000,"[grain, wheat, corn, barley, oat, sorghum]",[usa],5,NaN

In [5]:
df.shape

(21578, 7)

In [6]:
df.isnull().sum()

title              737
body              2535
date                 0
topics           10211
places            2780
id                   0
organisations    20697
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21578 entries, 0 to 21577
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          20841 non-null  object
 1   body           19043 non-null  object
 2   date           21578 non-null  object
 3   topics         11367 non-null  object
 4   places         18798 non-null  object
 5   id             21578 non-null  int64
 6   organisations  881 non-null    object
dtypes: int64(1), object(6)
memory usage: 1.2+ MB

In [8]:
df['title'] = df['title'].replace(np.nan,'unknown')
df['topics'] = df['topics'].replace(np.nan,'unknown')
df['places'] = df['places'].replace(np.nan,'unknown')
df['organisations'] = df['organisations'].replace(np.nan,'unknown')

In [9]:
df = df.dropna()

In [10]:
df.isnull().sum()

title            0
body             0
date             0
topics           0
places           0
id               0
organisations    0
dtype: int64

In [11]:
df.head()

,title,body,date,topics,places,id,organisations
0,BAHIA COCOA REVIEW,Showers continued throughout the week in\nthe ...,1987-02-26 15:01:01.790000,[cocoa],"[el-salvador, usa, uruguay]",1,unknown
1,STANDARD OIL <SRD> TO FORM FINANCIAL UNIT,Standard Oil Co and BP North America\nInc said...,1987-02-26 15:02:20,unknown,[usa],2,unknown
2,TEXAS COMMERCE BANCSHARES <TCB> FILES PLAN,Texas Commerce Bancshares Inc's Texas\nCommerc...,1987-02-26 15:03:27.510000,unknown,[usa],3,unknown
3,TALKING POINT/BANKAMERICA <BAC> EQUITY OFFER,BankAmerica Corp is not under\npressure to act...,1987-02-26 15:07:13.720000,unknown,"[usa, brazil]",4,unknown
4,NATIONAL AVERAGE PRICES FOR FARMER-OWNED RESERVE,The U.S. Agriculture Department\nreported the ...,1987-02-26 15:10:44.600000,"[grain, wheat, corn, barley, oat, sorghum]",[usa],5,unknown

In [12]:
df['body'] = df['body'].astype(str)

In [13]:
df.sample(5)

,title,body,date,topics,places,id,organisations
13457,SOVIET GRAIN PRODUCTS MINISTRY CRITICISED,The Soviet Communist Party has criticised\nthe...,1987-04-07 06:13:53.760000,[grain],[ussr],13458,unknown
3318,CHRYSLER <C> TO CLOSE INDIANA ELECTRICAL PLANT,Chrysler Corp said over the next two\nyears it...,1987-03-09 15:14:31.080000,unknown,[usa],3319,unknown
17501,SPECTRA-PHYSICS <SPY> BOARD REJECTS TENDER OFFER,Spectra-Physics Inc said its\nboard rejected a...,1-JUN-1987 09:09:43.36,[acq],[usa],17502,unknown
10213,"CANAMAX, PACIFIC TRANS-OCEAN APPROVE PRODUCTION",<Canamax Resources Inc> and <Pacific\nTrans-Oc...,26-MAR-1987 17:26:07.23,[gold],[canada],10214,unknown
10363,JAPAN SETS ASIDE YEN FUNDS TO PREVENT DLR FALL,"The 50-day provisional 1987/88 budget,\nadopte...",27-MAR-1987 07:41:01.59A,"[money-fx, dlr, yen]",[japan],10364,unknown

In [14]:
df.topics

0                                           [cocoa]
1                                           unknown
2                                           unknown
3                                           unknown
4        [grain, wheat, corn, barley, oat, sorghum]
                            ...
21573                                        [ship]
21574                                         [ipi]
21575                                        [gold]
21576                                       unknown
21577                                       unknown
Name: topics, Length: 19043, dtype: object

In [15]:
df.places

0                            [el-salvador, usa, uruguay]
1                                                  [usa]
2                                                  [usa]
3                                          [usa, brazil]
4                                                  [usa]
                              ...
21573    [hong-kong, japan, india, pakistan, iran, iraq]
21574                                             [ussr]
21575                                     [south-africa]
21576                                      [switzerland]
21577                                              [usa]
Name: places, Length: 19043, dtype: object

In [16]:
"""class cleansing:
    
    def __init__(self, punt):
        self.punt = punt
    
    def removenoise(self, string):
        string = string.lower()
        for i in string:
            string = string.replace('\n','')
            string = re.sub("\d+", " ", string)
            string = re.sub(r'\W',' ', string)
            string = re.sub(r'\s+',' ',string)
        string  = "".join([i for i in string if i not in self.punt])
        return string
    
    def removestopwords(self, string):
        text_tokens = word_tokenize(string)
        stop_words = stopwords.words('english')
        cleaned_words = [w for w in text_tokens if w not in stop_words]
        cleaned_stopwords = " ".join(cleaned_words)
        return cleaned_stopwords

    
    def stemwords(self, string):
        split_words = []
        for i in string.split(" "):
            split_words.append(i)
        stem_words = []
        stemmer = PorterStemmer()
        stemmed_words = [stemmer.stem(w) for w in split_words]
        for i in stemmed_words:
            check_spell = TextBlob(i)
            stem_words.append(str(check_spell.correct()))
        stem_words = " ".join(stem_words)
        return stemmed
                              
    def word_tokenizer(self, string):
        text_tokens = word_tokenize(string)
        return text_tokens
        
    def allinone(self,string):
        noised = self.removenoise(string)
        cleaned = self.removestopwords(noised)
        stemmed = self.stemwords(cleaned)
        tokens = self.word_tokenizer(stemmed)
        return tokens"""

'class cleansing:\n    \n    def __init__(self, punt):\n        self.punt = punt\n    \n    def removenoise(self, string):\n        string = string.lower()\n        for i in string:\n            string = string.replace(\'\n\',\'\')\n            string = re.sub("\\d+", " ", string)\n            string = re.sub(r\'\\W\',\' \', string)\n            string = re.sub(r\'\\s+\',\' \',string)\n        string  = "".join([i for i in string if i not in self.punt])\n        return string\n    \n    def removestopwords(self, string):\n        text_tokens = word_tokenize(string)\n        stop_words = stopwords.words(\'english\')\n        cleaned_words = [w for w in text_tokens if w not in stop_words]\n        cleaned_stopwords = " ".join(cleaned_words)\n        return cleaned_stopwords\n\n    \n    def stemwords(self, string):\n        split_words = []\n        for i in string.split(" "):\n            split_words.append(i)\n        stem_words = []\n        stemmer = PorterStemmer()\n        stemmed_words = [stemmer.stem(w) for w in split_words]\n        for i in stemmed_words:\n            check_spell = TextBlob(i)\n            stem_words.append(str(check_spell.correct()))\n        stem_words = " ".join(stem_words)\n        return stemmed\n                              \n    def word_tokenizer(self, string):\n        text_tokens = word_tokenize(string)\n        return text_tokens\n        \n    def allinone(self,string):\n        noised = self.removenoise(string)\n        cleaned = self.removestopwords(noised)\n        stemmed = self.stemwords(cleaned)\n        tokens = self.word_tokenizer(stemmed)\n        return tokens'

In [17]:
body = df['body']

In [18]:
#model = cleansing('\â€œ:â€&;?!"#$%&\'()*+/,.:;<=>?[\\]^_`{|}~¡¬´')

In [19]:
"""body_cleaned = []
for i in body:
    body_cleaned.append(model.removenoise(i))"""

'body_cleaned = []\nfor i in body:\n    body_cleaned.append(model.removenoise(i))'

In [20]:
"""body_cleaned"""

'body_cleaned'

In [21]:
"""tweets_cleaned = []
for tweet in df.body:
    tweets_cleaned.append(model.allinone(tweet))"""

'tweets_cleaned = []\nfor tweet in df.body:\n    tweets_cleaned.append(model.allinone(tweet))'

In [22]:
#tweets_cleaned

In [23]:
"""def removestopwords(self, string):
        stem_words = []
        text_tokens = word_tokenize(string)
        stemmer = PorterStemmer()
        stemmed_words = [stemmer.stem(w) for w in text_tokens]
        for i in stemmed_words:
            check_spell = TextBlob(word) 
            stem_words.append(str(check_spell.correct())
        stemmed = " ".join(stem_words)
        return stemmed"""

'def removestopwords(self, string):\n        stem_words = []\n        text_tokens = word_tokenize(string)\n        stemmer = PorterStemmer()\n        stemmed_words = [stemmer.stem(w) for w in text_tokens]\n        for i in stemmed_words:\n            check_spell = TextBlob(word) \n            stem_words.append(str(check_spell.correct())\n        stemmed = " ".join(stem_words)\n        return stemmed'

In [24]:
"""def stemWords(self, string):
       
        This function performs stemming of words by chopping off inlfections of words using Port Stemmer algorithm.
        Also it corrects mispelling of words.
       
        words = []
        stemmed = []
        for i in string.split(" "):
            words.append(i)
        stemmer = PorterStemmer() #it is used PorterStemmer to reducing inflection of words to their original word form
        stemmed_words = [stemmer.stem(w) for w in words] #it is applied to each word
        for word in stemmed_words:
            check_spell = TextBlob(word) #again, we use spelling checking as some words might result mispelled or not complete
            stemmed.append(str(check_spell.correct()))
        stemmed = " ".join(stemmed)
        return stemmed"""

'def stemWords(self, string):\n       \n        This function performs stemming of words by chopping off inlfections of words using Port Stemmer algorithm.\n        Also it corrects mispelling of words.\n       \n        words = []\n        stemmed = []\n        for i in string.split(" "):\n            words.append(i)\n        stemmer = PorterStemmer() #it is used PorterStemmer to reducing inflection of words to their original word form\n        stemmed_words = [stemmer.stem(w) for w in words] #it is applied to each word\n        for word in stemmed_words:\n            check_spell = TextBlob(word) #again, we use spelling checking as some words might result mispelled or not complete\n            stemmed.append(str(check_spell.correct()))\n        stemmed = " ".join(stemmed)\n        return stemmed'

In [30]:
class preprocessing(object):
    
    def __init__(self, punt):
        self.punt = punt 
    
    def removenoise(self, string):
        #removing punctuation signs
        #string = string.lower()
        for i in self.punt:
            string = string.replace(i, '')
        for i in string:
            string = string.replace('\n','')
            string = re.sub("\d+", " ", string)
            string = re.sub(r'\W',' ', string)
            string = re.sub(r'\s+',' ', string)
        #removing stopwords
        text_tokens = word_tokenize(string)
        stop_words = stopwords.words('english')
        cleaned_words = [w for w in text_tokens if w not in stop_words]
        cleaned_stopwords = " ".join(cleaned_words)
        return cleaned_stopwords
    
    def stemwords(self, string):
        split_words = []
        for i in string.split(" "):
            split_words.append(i)
        stem_words = []
        stemmer = PorterStemmer()
        stemmed_words = [stemmer.stem(w) for w in split_words]
        stem_words = " ".join(stem_words)
        return stem_words
                              
    def word_tokenizer(self, string):
        text_tokens = word_tokenize(string)
        return text_tokens
        
    def allinone(self,string):
        noised = self.removenoise(string)
        stemmed = self.stemwords(noised)
        tokens = self.word_tokenizer(stemmed)
        return tokens
    
    def dataframeclean(selfdev, dataframe):
        dataframe['clean_comment'] = dataframe.body.apply(selfdev.allinone)

In [31]:
Preprocessing=preprocessing('\â€œ:â€&;?!"#$%&\'()*+/,.:;<=>?[\\]^_`{|}~¡¬´')

In [32]:
string = df['body']

In [33]:
Preprocessing.removenoise(string)

TypeError: expected string or bytes-like object

In [ ]:
#Preprocessing.dataframeclean(df)