In [1]:
from glob import glob #Directorios
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from textblob import TextBlob 
from nltk.stem import PorterStemmer
import re
from nltk.tokenize import TweetTokenizer

In [2]:
jsons = sorted(glob('*.json'))

In [3]:
df = pd.concat((pd.read_json(file) for file in jsons),ignore_index=True)

In [4]:
df.head()

,title,body,date,topics,places,id,organisations
0,BAHIA COCOA REVIEW,Showers continued throughout the week in\nthe ...,1987-02-26 15:01:01.790000,[cocoa],"[el-salvador, usa, uruguay]",1,NaN
1,STANDARD OIL <SRD> TO FORM FINANCIAL UNIT,Standard Oil Co and BP North America\nInc said...,1987-02-26 15:02:20,NaN,[usa],2,NaN
2,TEXAS COMMERCE BANCSHARES <TCB> FILES PLAN,Texas Commerce Bancshares Inc's Texas\nCommerc...,1987-02-26 15:03:27.510000,NaN,[usa],3,NaN
3,TALKING POINT/BANKAMERICA <BAC> EQUITY OFFER,BankAmerica Corp is not under\npressure to act...,1987-02-26 15:07:13.720000,NaN,"[usa, brazil]",4,NaN
4,NATIONAL AVERAGE PRICES FOR FARMER-OWNED RESERVE,The U.S. Agriculture Department\nreported the ...,1987-02-26 15:10:44.600000,"[grain, wheat, corn, barley, oat, sorghum]",[usa],5,NaN

In [5]:
df.shape

(21578, 7)

In [6]:
df.isnull().sum()

title              737
body              2535
date                 0
topics           10211
places            2780
id                   0
organisations    20697
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21578 entries, 0 to 21577
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          20841 non-null  object
 1   body           19043 non-null  object
 2   date           21578 non-null  object
 3   topics         11367 non-null  object
 4   places         18798 non-null  object
 5   id             21578 non-null  int64
 6   organisations  881 non-null    object
dtypes: int64(1), object(6)
memory usage: 1.2+ MB

In [8]:
df['title'] = df['title'].replace(np.nan,'unknown')
df['topics'] = df['topics'].replace(np.nan,'unknown')
df['places'] = df['places'].replace(np.nan,'unknown')
df['organisations'] = df['organisations'].replace(np.nan,'unknown')

In [9]:
df = df.dropna()

In [10]:
df.isnull().sum()

title            0
body             0
date             0
topics           0
places           0
id               0
organisations    0
dtype: int64

In [11]:
df['body'] = df['body'].astype(str)

In [12]:
body = df['body']

In [13]:
body

0        Showers continued throughout the week in\nthe ...
1        Standard Oil Co and BP North America\nInc said...
2        Texas Commerce Bancshares Inc's Texas\nCommerc...
3        BankAmerica Corp is not under\npressure to act...
4        The U.S. Agriculture Department\nreported the ...
                               ...
21573    The Japan/India-Pakistan-Gulf/Japan\nshipping ...
21574    The Soviet Union's industrial output is\ngrowi...
21575    Six black miners have been killed\nand two inj...
21576    The prospect of a dominant alliance of\nsocial...
21577    The American Stock Exchange said it has\nintro...
Name: body, Length: 19043, dtype: object

In [14]:
"""class preprocessing(object):
    def __init__(self,punct):
        #self.pattern = pattern
        self.punct = punct
    def cleanString(self,string):
        # remove special chars
        if self.punct is not None:
            string = re.sub(self.punct, ' ', string)
        string = string.replace("\\n", " ").replace("\n", " ")
        # Regular expressions
        #pattern = re.compile(r"(.)\1{2,}", re.DOTALL)
        #s = pattern.sub(r"\1", s)
        tokenizer = TweetTokenizer()
        # Remove stop words
        stop_words = set(stopwords.words('english'))
        cleaned_words = [w for w in tokenizer.tokenize(s) if w not in stop_words]
        return " ".join(cleaned_words)

    def stemWords(self,sentence):
        stemmer, tokenizer = PorterStemmer(), TweetTokenizer()
        stemmed_words = [stemmer.stem(w) for w in tokenizer.tokenize(sentence)]
        return " ".join(stemmed_words)

    def cleanFrame(selfdev,frame):
        frame['clean_comment'] = frame.body.apply(selfdev.cleanString)

    def stemFrame(selfdev,frame):
        frame['stem_comment'] = frame.clean_comment.apply(selfdev.stemWords)"""

'class preprocessing(object):\n    def __init__(self,punct):\n        #self.pattern = pattern\n        self.punct = punct\n    def cleanString(self,string):\n        # remove special chars\n        if self.punct is not None:\n            string = re.sub(self.punct, \' \', string)\n        string = string.replace("\\n", " ").replace("\n", " ")\n        # Regular expressions\n        #pattern = re.compile(r"(.)\x01{2,}", re.DOTALL)\n        #s = pattern.sub(r"\x01", s)\n        tokenizer = TweetTokenizer()\n        # Remove stop words\n        stop_words = set(stopwords.words(\'english\'))\n        cleaned_words = [w for w in tokenizer.tokenize(s) if w not in stop_words]\n        return " ".join(cleaned_words)\n\n    def stemWords(self,sentence):\n        stemmer, tokenizer = PorterStemmer(), TweetTokenizer()\n        stemmed_words = [stemmer.stem(w) for w in tokenizer.tokenize(sentence)]\n        return " ".join(stemmed_words)\n\n    def cleanFrame(selfdev,frame):\n        frame[\'clean_comment\'] = frame.body.apply(selfdev.cleanString)\n\n    def stemFrame(selfdev,frame):\n        frame[\'stem_comment\'] = frame.clean_comment.apply(selfdev.stemWords)'

In [15]:
#special_chars = r"[^a-z0-9!@#\$%\^\&\*_\-,\.' ]"

In [16]:
"""Preprocessing=preprocessing(special_chars)
Preprocessing.cleanFrame(df)
Preprocessing.stemFrame(df)"""

'Preprocessing=preprocessing(special_chars)\nPreprocessing.cleanFrame(df)\nPreprocessing.stemFrame(df)'

In [17]:
df.head()

,title,body,date,topics,places,id,organisations
0,BAHIA COCOA REVIEW,Showers continued throughout the week in\nthe ...,1987-02-26 15:01:01.790000,[cocoa],"[el-salvador, usa, uruguay]",1,unknown
1,STANDARD OIL <SRD> TO FORM FINANCIAL UNIT,Standard Oil Co and BP North America\nInc said...,1987-02-26 15:02:20,unknown,[usa],2,unknown
2,TEXAS COMMERCE BANCSHARES <TCB> FILES PLAN,Texas Commerce Bancshares Inc's Texas\nCommerc...,1987-02-26 15:03:27.510000,unknown,[usa],3,unknown
3,TALKING POINT/BANKAMERICA <BAC> EQUITY OFFER,BankAmerica Corp is not under\npressure to act...,1987-02-26 15:07:13.720000,unknown,"[usa, brazil]",4,unknown
4,NATIONAL AVERAGE PRICES FOR FARMER-OWNED RESERVE,The U.S. Agriculture Department\nreported the ...,1987-02-26 15:10:44.600000,"[grain, wheat, corn, barley, oat, sorghum]",[usa],5,unknown

In [19]:
body[1]

'Standard Oil Co and BP North America\nInc said they plan to form a venture to manage the money market\nborrowing and investment activities of both companies.\n    BP North America is a subsidiary of British Petroleum Co\nPlc <BP>, which also owns a 55 pct interest in Standard Oil.\n    The venture will be called BP/Standard Financial Trading\nand will be operated by Standard Oil under the oversight of a\njoint management committee.\n\n Reuter\n\x03'